body {
    overflow: hidden;
}

.screen-container {
    width: 400px;
    height: 600px;
    border: 2px solid;
    background-color: gainsboro;
}

.screens {
    transform: scale(0.8);
}

.results-container {
    overflow-y: scroll;
    scrollbar-color: #ffffff black;
    scrollbar-width: thin;
    -webkit-scrollbar-color: #ffffff;
    -webkit-scrollbar-width: thin;
}

.results-container.screen-a {
    height: 60%;
    border-bottom: 2px solid;
}

.results-container.screen-b {
    height: 100%
}

.results-container::-webkit-scrollbar {
    width: 5px;
}

.results-container::-webkit-scrollbar-track {
    background-color: rgba(68, 68, 68, 0.753);
    color: white;
}

.results-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.result {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}

.result button {
    background-color: rgba(65, 62, 62, 0.815);
    color: white;
}

.result button:hover {
    background-color: rgb(65, 62, 62);
    color: white;
}

.inputs button {
    border: 1px solid;
    background: transparent;
}